
/***loading 动画***/

.anim-loading{
  animation: animLoading 0.5s linear 0s infinite normal;
/* Firefox: */
-moz-animation: animLoading 0.5s linear 0s infinite normal;
/* Safari 和 Chrome: */
-webkit-animation: animLoading 0.5s linear 0s infinite normal;
/* Opera: */
-o-animation: animLoading 0.5s linear 0s infinite normal;
}
@keyframes animLoading
{
0%   {transform: rotate(0deg);}
25%  {transform: rotate(90deg);}
50%  {transform: rotate(180deg);}
75%  {transform: rotate(270deg);}
100% {transform: rotate(360deg);}
}

@-moz-keyframes animLoading /* Firefox */
{
0%   {-moz-transform: rotate(0deg);}
25%  {-moz-transform: rotate(90deg);}
50%  {-moz-transform: rotate(180deg);}
75%  {-moz-transform: rotate(270deg);}
100% {-moz-transform: rotate(360deg);}
}

@-webkit-keyframes animLoading /* Safari 和 Chrome */
{
0%   {-webkit-transform: rotate(0deg);}
25%  {-webkit-transform: rotate(90deg);}
50%  {-webkit-transform: rotate(180deg);}
75%  {-webkit-transform: rotate(270deg);}
100% {-webkit-transform: rotate(360deg);}
}

@-o-keyframes animLoading /* Opera */
{
0%   {-o-transform: rotate(0deg);}
25%  {-o-transform: rotate(90deg);}
50%  {-o-transform: rotate(180deg);}
75%  {-o-transform: rotate(270deg);}
100% {-o-transform: rotate(360deg);}
}