/*reset_password */
.r_main .sheet #code{
    background-color: #ffffff;
    color:#FD9C20;
    font-size: 18px;
    border:1px solid #CCCCCC;
    height:34px;
    margin:0 14px;
    outline: none;
    cursor: auto;
}

.r_main .sheet #code{
    background-color: #ffffff;
    color:#FD9C20;
    font-size: 18px;
    border:1px solid #CCCCCC;
    height:34px;
    margin:0 14px;
    outline: none;
    cursor: auto;
}
/*reset_password -end*/

/*reset_phoneNum */
.r_main .sheet h1{
    font-weight: normal;
    font-size: 16px;
    color: #666666;
    margin-bottom:20px;
}
.r_main .sheet .send_message{
    width: 146px;
    height:34px;
    margin-left: 9px;
    border:none;
    background: none;
    background-color: #00D12C;
    color: #ffffff;
    font-size: 14px;
    font-family:'Microsoft YaHei';
}

/*reset_phoneNum -end*/

/*credit*/
.margin_bottom{
    margin-bottom:20px;
}
.download {
    display: inline-block;
    background: url(../../res/images/Mine/download.png) no-repeat;
    width: 19px;
    height: 19px;
    float: right;
    margin-right: 15px;
}
.del {
    display: inline-block;
    background: url(../../res/images/Mine/delete.png) no-repeat;
    width: 19px;
    height: 19px;
    float: right;
    margin-right: 15px;
}
/*credit -end*/