.circ_info{
	border:#CCCCCC 1px solid;
	overflow:hidden;
}
.circ_info img{
	padding:20px;
	float:left;
}
.circ_info .circ_detaile{
	border-bottom:#CCCCCC 1px solid;
	float:left;
	margin-bottom:10px;
	width:575px;
}
.circ_info .circ_detaile2 td{
	padding-bottom: 15px;
	color:#666666;
	font-size:14px;
	vertical-align: top;
}
.content .circ_detaile3{
	width:590px;
	float:left; 
	color:#666666;
	padding-top:20px;
}
.content .circ_detaile3 td{
	line-height:45px;
	color:#666666;
	border:#CCCCCC 1px solid;
	padding-left:10px;
}
.content .circ_detaile4{
	margin-top:20px;
}
.content .menu{
	padding-top:20px;
}
.content .menu span{
	padding:15px 30px;
	line-height:35px;
}
.content .menu a{
	color:#666666;
	display:inline-block;
	padding:0 40px;
	height:50px;
	line-height:50px;
}
.content .menu .checked{
	position:relative;
	bottom:-2px;
	color:#000000;
	font-weight:bold;
	border-top:#CCCCCC 1px solid;
	border-left:#CCCCCC 1px solid;
	border-right:#CCCCCC 1px solid;
	border-bottom:#ffffff 2px solid;
}
.content .circ_detaile4 td{
	line-height:45px;
	color:#666666;
	border:#CCCCCC 1px solid;
	padding-left:10px;
}