
.step{
    width:100%;
    text-align: center;
    padding:35px 0;
}

.user_list{
    display: inline-block;
    width: 910px;
	line-height:25px;
}
.user_list a{
    color: #666666;
    font-size: 14px;
    margin-right:20px;
    padding:5px 10px;
    display: inline-block;
}
.user_list .hover{
    color: #ffffff;
    background-color: #FD9C20;
    text-align: center;
}

/*权证*/
.warrant{
    padding:30px 15px 15px 15px;
    border:1px solid #DCDCDC;
}
.warrant_tab a{
    display: inline-block;
    color: #999999;
    font-size: 14px;
    padding:15px 25px;
    position: relative;
}
.warrant_tab strong{
    font-weight: normal;
}
.warrant_tab .select{
    position: relative;
    border:1px solid #D2D2D2;
    border-bottom:1px solid #ffffff;
    bottom:-1px;
    color: #333333;
    font-weight: bold;
}
.warrant_tab .select strong{
    font-weight: bold;
}
.warrant .message_title{
    margin-bottom: 20px;
}
.warrant .message_title > a{
    color: #698CFF;
}
/*弹出层*/
.warrant .detail{
    position: absolute;
    background: #ffffff;
    width:1200px;
    height:748px;
    z-index: 999;

    display: none;
}
.warrant .block_detail{
    height:633px;
    display: none;
}
.detail_title{
    background: #F5F5F5;
}
.detail_title h1{
    color: #666666;
    font-weight: normal;
    font-size: 18px;
    padding:15px 0 15px 20px;
}
.warrant .detail_content{
    overflow: hidden;
    margin-top:50px;
}
.warrant .detail_content ul li span{
    width:150px;
}

/*弹出层 -end*/

.warrant .block{
    clear: both;
    border-top: 1px solid #dcdcdc;
    padding-top: 25px;
}
.warrant .block_tab{
    margin-left:78px;
}
.warrant .block_tab .block_box{
    border:1px solid #DCDCDC;
    display: inline-block;
    position: relative;
    margin-right:5px;
    margin-bottom:10px;
}
.warrant .block_tab .block_box a{
    padding:5px 10px;
    display: inline-block;
    color: #666666;
    min-width: 120px;
    text-align: center;
}
.warrant .block_tab .block_box .hover_tab{
    background: #999;
    position: absolute;
    top:0;
    left: 0;
    width:100px;
    z-index: 100;
    display: none;

}
.warrant .block_tab .block_box .hover_tab span{
    width:50%;
    display: inline-block;
    text-align: center;
    color: #FFFFFF;
    padding:5px 0;
    cursor: pointer;
}


/*模态框*/
.Modal{
    /*display: inline-block;*/
    min-width:500px;
    max-width: 1200px;
    height:240px;
    z-index: 999;
    display: none;
    background: #ffffff;
    position: absolute;
}
.Modal_content{
    text-align: center;
}
.Modal_content p{
    font-size: 14px;
    color: #666666;
    margin-top: 60px;
    padding:0 15px;
}
.Modal .btn_group{
    margin:45px 0 15px 0;
}


/*模态框 -end*/



/*土地权证删除*/
.warrant_tab a span{
    color: #ffffff;
    display: none;
}
.warrant_tab .select span{
    display: block;
    background-color: #fd9c20;
    width:15px;
    height:15px;
    text-align: center;
    top:0;
    right: 0;
    position: absolute;
}

/*土地权证删除 -end*/

.checkP:hover{
	background: #FD9B1F;
	cursor: pointer;
}
.checkP a{
	color:#111;
	font-family: "微软雅黑";
	font-size:16px;
}
.checkP:hover a{
	color:#fff;
}