.content{
    padding-bottom:50px;
    padding-top: 15px;
}
.company{
    padding:40px;
    border:1px solid #d2d2d2;
    overflow:hidden;
}
.u_line{
    border-bottom:1px solid #d2d2d2;
    overflow: hidden;
    padding-bottom:30px;
}

.company_img{
    position:relative;
    float: left;
    border: 1px solid #d2d2d2;
    width: 120px;
    height: 120px;
    text-align: center;
}
.company_img span{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 120px;
    height: 30px;
    line-height:30px;
    background-color: rgba(0,0,0,0.3);
    color: #fff;
    cursor: pointer;
    display: none

}
.C_detail{
    float: left;
    margin-left:30px;
}
.C_detail h1{
    font-size: 18px;
    color: #333;
    margin-bottom:25px;
    display: inline-block;

}
.icon{
    background: url(../../res/images/Agricultural_logo.png) no-repeat;
}
.icon_1{
    background-position: 0 0;
    display: inline-block;
    width: 16px;
    height: 15px;
    vertical-align: middle;
    margin-right:5px;
}
.edit{
    float: right;
}
.edit a{
    color: #FDAF4D;
    font-size: 16px;
}
.edit_icon{
    background-position: 0 -25px;
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
    margin-right:3px;
}

.publish{
    float: right;
    margin: 30px 0 0 0;
    display: inline-block;
}

.frist_log{
    text-align: center;
    clear: both;
    color: #666;
}


/*弹出层*/
.edit_block{
    position: absolute;
    background: #ffffff;
    width:1000px;
    min-height:910px;
    z-index: 999;
    display: none;
}

.detail_title{
    border-bottom: 1px solid #d2d2d2;
    margin:0 20px 0 20px;
}
.detail_title h1{
    color: #666666;
    font-weight: normal;
    font-size: 18px;
    display: inline-block;
    padding:15px 0 15px 20px;
}
.detail_title a{
    float: right;
    font-size: 30px;
    margin-top: 8px;
    color: #666;
}
.detail_content{
    overflow: hidden;
    margin-top:50px;
}
.detail_content ul li > span{
    width:150px;
}
.no_m{
    margin: 0 0 5px 0;
    display: inline-block;
    width: 800px;
    text-align: left;
    font-size: 0;
}
.diy{
    position: relative;
    display: inline-block;
}
.diy strong{
    position: absolute;
    right:6px;
    top:0;
    width: 15px;
    color: #fff;
    font-size: 14px;
    border-top-right-radius: 3px;
    background: #FD9C20;
    text-align: center;
    cursor: pointer;
    display: none;
}

.edit_img{
    background: #fff;
    position: absolute;
    width: 556px;
    min-height: 585px;
    border: 1px solid #EF8335;
    z-index: 999;
    display: none;
}
.pd{
    padding:0 20px;
    margin-top: 20px;
}
.upload_btn{
    overflow: hidden;
    margin-bottom:20px;
}
.upload_btn .btn_group{
    float: left;
    clear: none;
    margin: 15px 45px;
    position: relative;
}

#upload{
    width:100px;
    height: 30px;
    position: absolute;
    top:0;
    left:0;
    opacity: 0;
    filter:alpha(opacity = 0)
}

/*-end*/