input[type='radio']{
    width: 20px;
    height: 20px;
    vertical-align: text-top;
}

.r_main ul li{
    list-style: none;
}

.r_main ul .lili{
	padding-left: 157px;
}
.r_main ul .lili .tip{
	color: green;
    width: 100%;
    font-size: 12px;
    display: inline;
    text-align: left;
     position: relative;
    top: -10px;
}
.r_main ul .lili .spanspan{
	color: red;
    width: 100%;
    font-size: 12px;
    display: none;
    text-align: left;
    position: relative;
    top: -10px;
}


.r_main .sheet{
    margin:34px 22px 0 22px;
}
.r_main .sheet label{
    color: #666666;
}
.r_main .sheet .input{
    height:32px;
    border:none;
    width:340px;
	padding-left:10px;
	line-height:32px;
    outline: none;
}
.r_main .sheet textarea{
    height:110px;
    border:none;
    width:345px;
	padding-left:10px;
	line-height:32px;
    outline: none;
}
.r_main .sheet select{
    height:30px;
    border:none;
    width:360px;
    outline: none;
}

.r_main .sheet .border{
    width:360px;
    display: inline-block;
    border:1px solid #CCCCCC;
    margin-bottom:20px;
    position: relative;
}

.r_main .sheet .has_in input{
    width:315px;
    padding-right:25px ;
}
.r_main .sheet .small_select{
    width:100px;
    margin-right:23px;
    font-size: 0;
}
.r_main .sheet .small_select select{
    width:100px;
}
.r_main .sheet .in_input{
    position: absolute;
    top:5px;
    right:3px;
    display: inline-block;
    height:21px;
    line-height: 21px;
}
.r_main .sheet .date_img{
    display: inline-block;
    width: 21px;

    background: url("../../res/images/Mine/all_logo.png");
    background-position: -48px -40px;
}
.r_main .sheet .align_right{
    display: inline-block;
    width:150px;
    text-align: right;
}
.r_main .sheet .v_top{
    vertical-align: top;
}