@font-face{
	font-family: sengnonFont;
	src: url('../font/SIMKAI.TTF'),
		 url('Sansation_Light.eot'); /* IE9 */
}
#container{
    width:100%;
    font-family: 'Microsoft YaHei';
}
.clearfix:before{
    content: ".";
    display:block;
    width:0;
    height:0;
    overflow: hidden;
    clear: both;
}
#topNav{
    width:100%;
    height:35px;
    line-height: 35px;
    background-color: #EFEFEF;
    clear: both;
}
#TN_content{
    position: relative;
	margin:0 auto;
	width:1200px;
}
#TN_content ul{
	display:inline-block;
}
#TN_content .right_list{
	float:right;
}
#TN_content .right_list li{
	margin-left: 15px;
	margin-right:0;
}
#TN_content ul li{
    display: inline-block;
    list-style: none;
    margin-right: 15px;
    color: #999999;
}
#TN_content ul li a{
    font-size: 12px;
    color: #999999;
}
#TN_content #sn_city{
    color: #656565;
}
#loginFooter{
    background:#EFEFEF;
    width:100%;
	overflow:hidden;
}
#loginFooter{
    background:#EFEFEF;
    width:100%;
}
#footerText{   
    padding:20px;
    text-align:center;
}
#footerText a{
    padding:0 10px;
    color: #656565;
    text-decoration: none;
    display: inline-block;
    margin-top:10px;
    font-size:100%;
    border-right:1px solid #656565;
}
.last_noR{
	border-right:none !important;
}
.link {
	margin-bottom:15px;
}
.link h6{
	display:inline-block;
}
.link a{
	border-right:none !important;
}
#loginFooter p{
    text-align: center;
    font-size:12px;
    padding:10px 0 25px 0;
    color: #656565;
}


/*我已经忘了这部分干嘛的了--*/
/*

.content .content_title{
    overflow: hidden;
    border-bottom:1px solid #D2D2D2 ;
    margin-bottom: 35px;
}

 .content .content_title h1{
    float: left;
    display: inline-block;
    margin-left:5px;
    font-weight: normal;
    font-size:24px;
    padding-bottom:5px;
        height: 36px;
    line-height: 36px;
}
 .content .content_title a{
    float: right;
    color: #EF8336;
    font-size: 14px;
    margin-top:20px;
}


#indexmain .content .content_title img,
#landmain .content .content_title img{
    width: 36px;
    float: left;
}
*/


.choose_city_menu{
    width:1000px;
    padding:25px 50px;
    left:0;
    position: absolute;
    overflow: hidden;
    border:1px solid #f5f5f5;
    background:#ffffff;
    margin:0 auto;
    z-index:9999;
    display: none;
}
.choose_city_menu ul li{
	text-align:center;
}
.mouseover{
	display:inline-block;
	background-color:#EF8335;
	color:#ffffff !important;
	/* padding:0px 15px; */
	width:64px;
}
.cityselect{
	display:inline-block;
	background-color:#D2D2D2;
	color:#ffffff !important;
	/* padding:0px 15px; */
	width:64px;
}
.choose_city_menu .provide,
.choose_city_menu .cities,
.choose_city_menu .county{
    float: left;

}
.choose_city_menu .provide{
    width:150px;
}
.choose_city_menu .provide h2{
    color: #f56a00;

}
.choose_city_menu .cities h2{
    color: #2263d4;
}
.choose_city_menu .cities{
    width:400px;
    border-right:1px solid #f5f5f5;
    border-left: 1px solid #f5f5f5;
    padding-left: 15px;
  
}
.choose_city_menu .county{
    width:400px;
    margin-left:15px;
    display: none;
}
.choose_city_menu h2{
    font-size: 16px;
    padding-bottom: 8px;
    font-weight: normal;
    font-family: "微软雅黑",arial,"宋体";
}
.choose_city_menu ul li{
    float: left;
    overflow: hidden;
    padding: 6px 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 64px;
}
.choose_city_menu ul li a{
    font-size: 12px;
    color: #666666;
}

.content{
	width:1200px;
	margin:0 auto;
}
.test{
	height:500px;
	border:#FF0000 1px solid;
}