body{
    font-family: 'Microsoft YaHei';
}
.bannerImg,
.bannerImg img {
    width:100%;
}
.bannerImg{
    text-align: center;
    position: relative;
	padding-top:4px;
}

.content{
    width:1200px;
    margin:0 auto;
    overflow: hidden;
}
.title_box{
    padding-top:45px;
}
.title_box .line{
    display:inline-block;
    height:19px;
    width:3px;
    background-color: #fd9c20;
    margin-bottom:5px;
    vertical-align: middle;
    margin-right:5px;
}
.title_box .tab{
    display: inline-block;
    margin-left:40px;
}
.title_box .tab a{
    color: #656565;
    font-size: 14px;
    display: inline-block;
    padding:0 20px;
}
.title_box .tab .active{
    height:27px;
    line-height: 27px;
    text-align: center;
    padding:0 20px;
    border:1px solid #ffb556;
    color: #ffb556;
}
.title_box h1{
    color: #656565;
    font-size: 20px;
    font-weight: normal;
    display: inline-block;
}
.title_box > a{
    float: right;
    color: #999999;
    margin-top:4px;
    font-size:14px;
}
.main_title{
    min-width: 1200px ;
    margin:40px auto 30px auto;
    background: url('../../res/images/main_title.png') center no-repeat;
}
.main_title p{
    line-height: 50px;
    font-size: 30px;
    color:#333333;
    text-align: center;
}


.left,.right{
    width:586px;
    float: left;
    margin-top:20px;
}

.block{
    overflow: hidden;
    margin-bottom:10px;
}
.block .kind,
.block .image,
.block .block_detail{
    float: left;
}
.block .kind{
    width:106px;
    height:106px;
    line-height: 106px;
    text-align: center;
    font-size: 24px;
    color: #ffffff;
    border-radius: 3px;
}
.land{
    background-color: #D37100;
}
.forest_land{
    background-color: #99C941;
}
.badland{
    background-color: #FFD119;
}
.sea{
    background-color: #57CFF3;
}
.block .image img{
    height:106px;
    width:158px;
}
.block .block_detail{
    padding-left: 20px;
    width: 300px;
    height:104px;
    border:1px solid #DCDCDC;
}
.block .block_detail p{
    color: #656565;
    font-size: 16px;
    margin:15px 0;
	width:270px;
	overflow:hidden;
	display:inline-block;
	white-space: nowrap;
    text-overflow: ellipsis;
}
.block .block_detail span{
    color: #999999;
    font-size: 14px;
}
.block .block_detail .money{
    color: #F3A927;
    font-size: 16px;
    font-weight: bold;
}
.block .block_detail .location,
.block .block_detail .years{
    float: right;
    margin-right:15px;
}

.btn{
    display: inline-block;
    height:40px;
    line-height: 40px;
    width: 250px;
    text-align: center;
    color: #ffffff !important;
    font-size: 20px;
    background-color: #FD9B1F;
    margin-top:30px;

}
.news_info{
    overflow: hidden;
    position: relative;

}
.news_img{
    position: relative;
    height:400px;
    width:300%;
}
.news_img img{
    width: 586px;
    height: 400px;
    position: relative;
    float: left;
}
.news_info_title{
    width:586px;
    height:49px;
    line-height: 49px;
    background: #000000;
    background: rgba(0,0,0,0.5);
    position: absolute;
    bottom:0;
    z-index: 999;

}
.news_info_title p{
    margin-left:20px;
    color: #ffffff;
    display: inline-block;
    width:430px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.news_info_title .change_title{
    display: none;
}
.news_info_title .dots{
    float: right;
    margin-right:15px;

}
.news_info_title .dots a{
    color: #ffffff;
    font-size: 22px;
    margin:0 2px;
}
.news_info_title .dots .choose{
    color: #F58333;
}

.news_info .info_tab{
    border-bottom:2px solid #FFB556;
    margin-bottom: 25px;
}
.news_info .info_tab a{
    width:121px;
    height:42px;
    line-height:42px;
    display: inline-block;
    text-align: center;
    color: #656565;
    position: relative;
    font-size:18px;

}
.news_info .info_tab .choose{
    color:#FD9B1F;
    border:2px solid #FD9B1F;
    border-radius: 3px;
    padding-top: 1px;
    border-bottom:3px solid #FFFFFF;
    bottom:-2px;
}
.news_info .info_block span{
    font-size: 12px;
    color: #999999;
}
.news_info .info_block p{
    font-size: 14px;
    color: #656565;
}

.news_info .info_block .info_title{
    margin-bottom:20px;
}
.news_info .info_block .info_title p{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 500px;
}
.news_info .info_block .info_title p,
.news_info .info_block .info_title span{
    display: inline-block;

}
.news_info .info_block .info_title span{
    float: right;
}
.news_info .info_block .hasImg{
    overflow: hidden;
    margin-bottom:20px;
    display: none;

}
.news_info .info_block .info_details{
    width:350px;
    padding-left:20px;
    height:147px;
    float: left;
}
.news_info .info_block .info_details h1{
    color: #333333;
    font-size: 18px;
    font-weight: normal;
    margin-bottom:15px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 345px;
}
.news_info .info_block .info_details p{
    line-height:20px;
    height:80px;
    margin-bottom:10px;
    text-indent:2em;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
}
.show .info_title{
    display: none !important;
}
.show .hasImg{
    display: block !important;
}
.group{
    margin:25px 0 35px 0;
}
.group a{
    margin-right:18px;
}
.index_table{
    width:100%;
    border-top:2px solid #DBDBDB;
    text-align: left;
    margin-top:20px;
    border-left:1px solid #DBDBDB;
    border-right:1px solid #DBDBDB;
}
.index_table thead td{
    color: #fd9c20;
}
.index_table th{
    color: #333333 !important;

}
.index_table tr,.index_table th,.index_table td{
    border-bottom:1px solid #DBDBDB;
    font-size: 14px;
    padding:15px 0 15px 55px ;
    color: #656565;
    text-align: left;
    vertical-align: middle;
}
.bottom{
    margin-bottom:45px !important;
}

.post:hover{cursor: pointer;}
