.content{
    overflow: hidden;
    margin-bottom: 30px;
}
.l_main{
    width:875px;
    float: left;
	min-height:580px;
}
.r_main{
    width:300px;
    float: left;
    margin-left:25px;
    position:absolute;
    top:210px;
    right: 351px;
    background: #fff;
}
.job_name{
    border:1px solid #DCDCDC;
    padding:25px 60px 25px 30px;
}
.job_name .J_name{
    display: inline-block;
}
.job_name .J_name h1{
    color: #333333;
    font-size: 22px;
    margin-bottom:25px;
}
.job_name .J_name span{
    font-size: 14px;
    color: #666;
}
.job_name .salary{
    display: inline-block;
    float: right;
    font-size: 22px;
    font-weight: bold;
    color: #FD9C20;
    margin-top: 20px;
}

.job_description{
    border: 1px solid #D2D2D2;
    padding:0 60px 25px 30px;
    margin-top:8px;
	min-height:435px;
}
.requirement{
    margin:35px 0;
}
.requirement h6{
    font-size: 14px;
    color: #666;
    margin-bottom:25px;
    font-weight: normal;
}
.requirement ul li{
    list-style: none;
    color: #666;
    font-size: 14px;
    line-height:1.5;
}

.r_main .btn_group{
    margin:0;
    padding:36px 55px;
    border: 1px solid #D2D2D2;
    text-align: center;
}

.r_main .company{
    border: 1px solid #d2d2d2;
    margin-top:8px;
    padding:20px;
}
.r_main .company h1{
    color: #333;
    font-size: 18px;
    margin-bottom:15px;
}
.r_main .company ul li{
    list-style: none;
    font-size: 14px;
    color: #666;
    line-height: 1.5;
}
