.r_main .push_message{
    margin:0 25px;

}
.r_main .push_message p{
    text-align: center;
    color: #999999;
    font-size: 14px;
    margin:25px 0 2px 0;

}
.r_main .message_block{
    background-color: #F4F4F4;
    padding:25px 25px 15px 25px;
    border: 1px solid #ffffff;
}
.r_main .message_block:hover{
   border: 1px solid #fd9c20;
   cursor: pointer;
}

.r_main .message_block h1{
    color: #333333;
    font-size: 16px;
    font-weight: normal;
}
.r_main .message_block .message_body{
    color: #656565;
    font-size: 14px;
    line-height:24px;
    margin:25px 0;
    text-indent:2em;

}
.r_main .message_block .max_height{
    max-height: 96px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
}
.r_main .message_block .show_btn{
    text-align: center;

}
.r_main .message_block .show_btn a{
    color: #999999;
    font-size: 14px;
    display: inline-block;
}
.r_main .message_block .show_btn .arrow{
    vertical-align: middle;
}