#navBar{
    width:100%;
    overflow: hidden;
    border-bottom: 4px solid #F58333;
    margin-top:20px;
}
#NB_content{
    overflow: hidden;
	width:1200px;
	margin:0 auto;
}
#NB_content img{
    float: left;
    margin-bottom:2px;
    width:174px;
    height:76px;
}
#NB_content #slogan{
    width: 150px;
    float: right;
    margin-right: 10px;
    height: 35px;
}
#NB_content .logo_wrap{
	display:inline-block;
	margin-left: 15px;
}
#NB_content .logo_wrap .line{
	background:url("../img/line.png")no-repeat;
	width:1px;
	display:inline-block;
	height:58px;
	vertical-align: middle;
}
#NB_content .logo_wrap .city_name_wrap{
	display:inline-block;
	vertical-align: middle;
	margin-left: 15px;
}
#NB_content .logo_wrap .city_name_wrap .C_name{
	color:#DB4913;
	font-size:30px;
	font-family:'sengnonFont';
	
}
#NB_content .logo_wrap .city_name_wrap .pingyin{
	font-family:'Arial';
	color:#DB4913;
	font-size:12px;
	display:inline-block;
	margin:0 1px;
}
#NB_content ul{
    overflow: hidden;
    float:right;
}
#NB_content ul li{
    float: left;
    list-style: none;
    vertical-align: bottom;
    padding:34px 0 0 0 ;
    font-weight:bold;
}
#NB_content ul li a {
    padding:15px 30px 13px 30px;
    display: block;
    color: #F58333;
    font-size: 18px;

}
#NB_content ul li .checked{
    background: #F58333;
    color: #ffffff;
    display: block;
}
#indexmain{
    overflow: hidden;
    width:1200px!important;
    margin:15px auto 0 auto;
}
