.logo1{
            background-position: 0 -185px;
            width: 35px;
            height: 27px;
        }
        .logo2{
            background-position: -99px 0;
            width: 20px;
            height: 20px;
        }
        .select .logo2{
            background-position: -144px 0;
        }
        .logo3{
            background-position: -99px -26px;
            width: 25px;
            height: 17px;
        }
        .select .logo3{
            background-position: -142px -26px;
        }
        .logo4{
            background-position: -100px -54px;
            width: 26px;
            height: 26px;
        }
        .select .logo4{
            background-position: -142px -54px;
        }
        .logo5{
            background-position: -100px -87px;
            width: 30px;
            height: 20px;
        }
        .select .logo5{
            background-position: -144px -87px;
            width: 29px;
            height: 16px;
        }
        .logo6{
            background-position: -100px -112px;
            width: 29px;
            height: 23px;
        }
        .select .logo6{
            background-position: -144px -112px;
        }

        .logo_7{
            background-position: -100px -147px;
            width: 21px;
            height: 21px;
        }
        .select .logo_7{
            background-position: -149px -147px;
        }
        .logo8{
            background-position: -104px -177px;
            width: 22px;
            height: 18px;
        }
        .select .logo8{
            background-position: -148px -177px;
        }
        .logo9{
            background-position: -104px -202px;
            width: 20px;
            height: 20px;
        }
        .select .logo9{
            background-position: -150px -202px;
        }
        .logo10{
            background-position: -103px -232px;
            width: 19px;
            height: 20px;
        }
        .select .logo10{
            background-position: -151px -232px;
        }
        .logo11{
            background-position: -100px -262px;
            width: 26px;
            height: 18px;
        }
        .select .logo11{
            background-position: -148px -264px;
            width: 22px;
            height: 16px;
        }
        .logo_bg{
            width: 30px;
            display: inline-block;
            text-align: center;
            float: left;
            margin:0 15px;
        }
        .open_logo{
            float: none;
            margin:0;
        }
        .title_box{
            padding:15px  0;
        }
        .r_main{
            border: none;
        }
        .filter_list {
            padding-left: 30px;
            background-color: #ffffff;
            line-height: 55px;
            margin-bottom: 20px;
            border: 1px solid #dcdcdc;
        }
        .filter_list .checked {
            color: #fd9c20;
        }
        .filter_list a {
            color: #666666;
            padding: 10px 20px;
        }
         .data_content{
             padding:0 15px;
             border: 1px solid #D2D2D2;
         }
        .data_detail,
        .data_img{
            float: left;
        }
        .data_img{
            width:25%;
        }
        .data_detail{
            width:53%;
        }
        .data_detail h1{
            color: #333;
            font-size: 18px;
            margin:15px 0 28px 0;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
            height: 52px;
            line-height: 1.5;
            font-weight: normal;
        }