.content .information{
	border:1px solid #DBDBDB;
	width:100%;
	overflow:hidden;
	margin-bottom:20px;
}
.information .img_box{
	margin:20px;
	border:1px solid #DBDBDB;
	overflow:hidden;
	display:inline-block;
	float:left;
}
.information .introduce{
	margin:20px 20px 20px 10px; 
	overflow:hidden; 
	display:inline-block; 
	float:left;
}
.information .introduce h1{
	margin:10px 0; 
}
.information .introduce span{
	font-size:14px;
	color:#666666;
	padding-bottom:30px;
	display:block; 
}
.information .introduce p{
	font-size:14px;
	color:#666666;
	line-height:30px; 
}
.information .btn{
	font-size:18px;
	display:inline-block;
	color:#ffffff;
	padding:20px 60px;
	border-radius:5px;
	background-color:#fd9c20;
	float:right;
	margin:65px 80px 0px 0px;;
}
.content .resources{
	border:1px solid #DBDBDB;
	width:100%;
	overflow:hidden;
	margin-bottom:20px;
}
.resources .data_box{
	margin:20px;
	overflow:hidden;
}
.resources .data_box .left{
	width:150px;
	float:left;
}
.resources .data_box .left .span{
	display:block;
	font-size:16px;
	line-height:30px;
	color:#666666;
	padding-bottom:30px;
}
.resources .data_box .left .checked{
	color:#fd9c20;
}
.resources .data_box .right{
	display:inline-block;
	width:1000px;
	float:left;
}
.resources .data_box .right .top{
	border-bottom:2px solid #DBDBDB;
	padding-bottom:20px;
	overflow:hidden;
}
.resources .data_box .right .title{
	width:125px;
	text-align:right;
	float:left;
}
.resources .data_box .right .top .title span{
	display:block;
	line-height:30px;
}
.resources .data_box .right .details{
	float:left;
	width:875px;
}
.resources .data_box .right .details span{
	display:block;
	line-height:30px;
}
.resources .data_box .right .bottom{
	margin:20px 0;
	overflow:hidden;
}

table{
    width:100%;
    border-top:2px solid #DBDBDB;
    text-align: left;
    border-left:1px solid #DBDBDB;
    border-right:1px solid #DBDBDB;
}
thead td{
    color: #fd9c20;
}
th{
    color: #333333 !important;
}
table tr,th,td{
    border-bottom:1px solid #DBDBDB;
    font-size: 14px;
    color: #656565;
	padding-left:40px;
    text-align: left;
    vertical-align: middle;
}
.check_type {
    border-width:7px;
    border-color:transparent transparent transparent #FD9B1F;
    border-style:solid;
    display:inline-block;
}
.none_type {
    border-width:7px;
    border-color:transparent transparent transparent #666666;
    border-style:solid;
    display:inline-block;
}