.r_main .data_detail ul li{
    list-style: none;
    margin-bottom:20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 224px;
}
.l_main{
    width:300px;
    margin-right:16px;

    float: left;
}
.r_main{
    width:880px;
    min-height:800px;
    border:1px solid #dcdcdc;
    float: left;
    margin-bottom:30px;
}

.l_main .solution{
    padding:20px 0;
    background-color: #FD9C20;
    overflow: hidden;
}
.l_main .solution_type{
    border:1px solid #dcdcdc;
    border-bottom: none;
    margin-bottom:15px;
}

.l_main .solution p{
    color: #ffffff;
    font-size: 20px;
    margin-top:3px;

}
.l_main p{
    color: #666666;
    font-size: 18px;
    float: left;
    margin-top: 2px;
}
.l_main .list{
    overflow: hidden;
    padding:15px 0;
    border-bottom:1px solid #DCDCDC;
    cursor: pointer;

}
.select p{
    color: #FD9C20;
}
.open_logo{
    background: url("../images/open_logo.png") no-repeat center right;
    display: inline-block;
    float: left;
    margin:0 15px;
}


#main .box{
    margin-bottom:10px;
    min-height: 270px;
    overflow:hidden;
    border:1px solid #DCDCDC;
    padding-left: 20px;
}
#main .box a{
    color:#666666;
    max-width:248px;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-left:5px;
}
#main .box ul li{
    border-bottom:1px solid #EFEFEF;
    list-style: none;
    padding: 10px 0;
    margin-right:20px;
}
#main .box ul li:last-child{
    border-bottom: none;
}
.box .content a{
    width:80%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-left:5px ;
    display: inline-block;
}
