body{
    font-family: 'Microsoft YaHei';
}
.bannerImg,
.bannerImg img {
    width:100%;
}
.bannerImg{
    text-align: center;
    position: relative;
	padding-top:4px;
}

.content{
    width:1200px;
    margin:0 auto;
}

.title_box{
    padding-top:45px;
}
.title_box img{
	width:100%;
	height:100%;
}
.title_box .line{
    display:inline-block;
    height:19px;
    width:3px;
    background-color: #fd9c20;
    margin-bottom:5px;
    vertical-align: middle;
    margin-right:5px;
}
.title_box .tab{
    display: inline-block;
    margin-left:40px;
	margin-bottom:20px;
}
.title_box .tab select{
	width:100px;
	line-height:30px;
	height:30px;
}
.title_box .tab span{
    font-size:14px;
	font-weight:bold;
}
.title_box label{
    color: #656565;
    font-size: 14px;
    display: inline-block;
	float:right;
}
.title_box .tab a{
    color: #656565;
    font-size: 14px;
    display: inline-block;
    padding:0 20px;
}
.title_box .tab .active{
    height:27px;
    line-height: 27px;
    text-align: center;
    padding:0 20px;
    border:1px solid #ffb556;
    color: #ffb556;
}
.title_box h1{
    color: #656565;
    font-size: 20px;
    font-weight: normal;
    display: inline-block;
}
.title_box > a{
    float: right;
    color: #999999;
    margin-top:4px;
    font-size:14px;
}
.main_title{
    min-width: 1200px ;
    margin:40px auto 30px auto;
    background: url('../../res/images/main_title.png') center no-repeat;
}
.main_title p{
    line-height: 50px;
    font-size: 30px;
    color:#333333;
    text-align: center;
}

table{
    width:100%;
    border-top:1px solid #DBDBDB;
    text-align: left;
    margin-top:20px;
    border-left:1px solid #DBDBDB;
    border-right:1px solid #DBDBDB;
}
thead td{
    color: #fd9c20;
}
th{
    color: #333333 !important;

}
table tr,th,td{
    border-bottom:1px solid #DBDBDB;
    border-right:1px solid #DBDBDB;
    font-size: 14px;
    color: #656565;
    text-align: left;
}
.content .qulatity_data .block{
	width:100%;
	height:166px;
}
.qulatity_data .block img{
	padding:20px 0;
	display:inline-block;
}
.qulatity_data .block span{
	font-size:14px; 
	color:#666666;
	display:block;
}
.content .blank{
	width:300px;
	height:400px;
	float:left; 
	overflow:hidden;
}
.blank .list{
	width:300px;
	height:400px;
	background-color:#797a7b;
	background-color:rgba(0,0,0,0.5);
	text-align:center;
}
.blank .list img{
	padding:150px 0 20px 0;
	display:inline-block;
	overflow:hidden;
}
.blank .list span{
	display:block;
	color:#ffffff;
	font-size:18px;
}
.active .list{
	display:none !important;
}
.active .blank_more{
	display:block;
	width:300px;
	height:400px;
	background-color:#4cb3dc;
	background-color:rgba(23,171,227,0.5);
	text-align:center;
}
.active .blank_more img{
	padding:50px 0 20px 0;
	display:inline-block;
	overflow:hidden;
}
.active .blank_more span{
	display:block;
	color:#ffffff;
	font-size:18px;
}
.active .blank_more p{
	display:block;
	color:#ffffff;
	font-size:14px;
	padding:30px;
	line-height:20px;
	text-align:left;
	margin-bottom:30px;
}
.active .blank_more .btn{
	overflow:hidden;
	color:#ffffff;
	border:1px solid #ffffff;
	background-color:#17abe3;
	font-size:14px;
	padding:10px 40px;
}

.interface{
    font-size:0;
    width:1200px;
	margin-bottom:50px;
	text-align:center;
	overflow:hidden;
	display:inline-block;
}
.interface .interface_box{
    display: inline-block;
    width: 290px;
    height:290px;
    margin:0 10px 10px 0;
	text-align:center;
	float:left;
	background-color:#fffef2;
	cursor:pointer;
}
.interface .interface_box .interface_block{
	display:inline-block;
    overflow:hidden;
	margin-top:50px;
	margin-bottom:20px; 
}
.interface .interface_box span{
	display:block;
	font-size:14px;
	color:#333333;
	font-weight:bold;
}
.interface .interface_box p{
	display:block;
	padding:20px 40px;
	font-size:12px;
	color:#999999;
	line-height:20px;  
}
.interface .btn{
	overflow:hidden;
	display:inline-block;
	margin-top:20px;
	padding:10px 40px;
	border-radius:5px;
	color:#ffffff;
	font-size:18px;
	background-color:#fd9c20;
}