/*分页*/
.tz_pages{
	/* width: 30px;
    height: 19px;
    text-align: center;
    border: solid 1px #DCDCDC; */
    width: 30px;
    height: 22px;
    text-align: center;
    border: solid 1px #DCDCDC;
}
.tj_sure{
	/* background: #fff;
    border: solid 1px #DCDCDC;
    line-height: 19px;
    width: 44px;
    font-size: 12px;
    border-radius: 2px; */
    background: #fff;
    border: solid 1px #DCDCDC;
    line-height: 19px;
    width: 46px;
    height: 25px;
    font-size: 15px;
    border-radius: 2px;
}

.tj_sure:hover{
	transition:all .3s ease;
	border:1px solid #EF8335;
}
.font-items-12{
	font-size: 16px;
    color: #333;
}

.page{
    text-align: center;
    margin:50px;
}
.page ul{
    font-size: 0;
}
.page ul li{
    display: inline-block;
    margin: 3px;
    font-size: 14px;
}
.page ul li a{
    padding: 3px 9px;
    background: #ffffff;
    border:1px solid #DEDEDE;
    color:#B7B7B7;
    font-size: 14px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;

}
.page ul li .selected{
    background: #EF8335;
    color: #ffffff !important;
    border:none;
}
/*分页 -end*/
/*资讯分页 start*/
#main .page{
    text-align: center;
    margin:50px 0;
}
#main .page ul{
    font-size: 0;
}
#main .page ul li{
    display: inline-block;
    margin: 3px;
    font-size: 14px;
}
#main .page ul li a{
    padding: 6px 9px;
    background: #ffffff;
    border:1px solid #DCDCDC;
    transition:all .3s ease;
}

#main .page ul li a:hover{
	transition:all .3s ease;
	border:1px solid #EF8335;
}
#main .page ul li .page_cancel{
	color:#ccc;
}
#main .page ul li .page_cancel:hover{
	border:1px solid #DCDCDC;
	cursor:not-allowed;
}

#main .page ul li:last-child a:hover{
	background: #fff;
	color:#333;
}  

#main .page ul li .selected{
    background: #EF8335;
    border:1px solid #EF8335;
    color: #ffffff;
    cursor: default;
}
/*资讯分页 end*/