.plate{
	width:1200px;
	margin:0 auto;
}
.plate img{
	padding-left:40px;
	display:inline-block;
	vertical-align:middle;
}
.plate span{
	display:inline-block;
	margin-left:20px;
	vertical-align:middle;
	font-size:20px;
	color:#ffffff;
}