#main{
    overflow: hidden;
    margin:20px 0;
}
.l_main{
    width: 300px;
    border-left:1px solid #DCDCDC;
    border-right:1px solid #DCDCDC;
    float: left;
    box-sizing: border-box;
}
.r_main{
    width:880px;
    border: 1px solid #DCDCDC;
    margin-left:20px;
    float: left;
    box-sizing: border-box;
}

.box .classify{
    border-top:1px solid #DCDCDC;
    border-bottom:1px solid #DCDCDC;
    padding:20px 0;
    cursor: pointer;
}
.box .classify p{
    font-size: 18px;
    color: #666;
    display: inline-block;
}
.box .genre a{
    font-size: 14px;
    color: #999;
    margin-left:20px;
}
.box .genre .dot{
    display: inline-block;
    width: 4px;
    height: 4px;
    border-radius: 2px;
    background-color: #999;
    vertical-align: middle;
}
.icon{
    background: url("../../res/images/Agricultural_logo.png");
    display: inline-block;
    margin:0 20px;
    vertical-align: sub;
}
.box .choose p,
.box .choose a{
    color: #FD9C20;
}
.genre .choose .dot{
    background-color: #FD9C20;
}
.icon_1{
    background-position: -55px 0;
    width:20px;
    height:18px;

}
.choose .icon_1{
    background-position: -89px 0;
}
.icon_2{
    background-position: -55px -26px;
    width:20px;
    height:23px;
}
.choose .icon_2{
    background-position: -89px -26px;
}
.icon_3{
    background-position: -55px -59px;
    width:20px;
    height:22px;
}
.choose .icon_3{
    background-position: -89px -59px;
}
.box ul li{
    list-style: none;
    padding:10px 0;
}


.r_main .r_main_title{
    border-bottom: 1px solid #DCDCDC;
    margin:0 22px;
}
.r_main .r_main_title h1{
    color: #666;
    font-size: 18px;
    font-weight: normal;
    padding:25px 3px;
    display: inline-block;
}