.resume_page{
    width:910px;
    display: none;
    position: absolute;
    background: #fff;
    padding:18px;
    z-index: 999;
}
.border{
    padding:18px;
    border:1px solid #DCDCDC;
    margin:0 0 15px 0;
}
.base_info{
    overflow: hidden;
}
.base_info >div{
    float: left;
}
.base_info h1{
    font-size: 24px;
    color: #333;
    margin:20px 0;
}
.base_info p{
    margin:20px 0;
    font-size: 14px;
    color: #666;
}

.base_info .icon{
    background: url("../../res/images/Agricultural_logo.png") no-repeat;
    display: inline-block;
    vertical-align: middle;
    margin-right:5px;
}
.base_info .icon_1{
    background-position: 0 -89px;
    width:19px;
    height:13px;
}
.base_info .icon_2{
    background-position: 0 -111px;
    width:9px;
    height:15px;
}

.resume_title{
    font-size: 16px;
    color: #666;
    margin:0 0 15px 0;
}
.job_intension span,
.Education_experience span,
.attachment span{
    font-size: 14px;
    color: #666;
}

.work_experience p{
    font-size: 14px;
    color: #666;
    margin-bottom:10px;
    line-height: 1.5;
}
.work_experience label{
    font-size: 14px;
    color: #666;
    float: left;
    line-height: 1.5;
}