table{
    width:100%;
    border-top:2px solid #DBDBDB;
    text-align: left;
    margin-top:20px;
    border-left:1px solid #DBDBDB;
    border-right:1px solid #DBDBDB;
}
thead td{
    color: #fd9c20;
}
th{
    color: #333333 !important;

}
table tr,th,td{
    border-bottom:1px solid #DBDBDB;
    font-size: 14px;
    padding:15px 0 15px 55px ;
    color: #656565;
    text-align: left;
    vertical-align: middle;
}
.bottom{
    margin-bottom:45px !important;
}

.post:hover{cursor: pointer;}
