.title_box{
    padding-top:45px;
}
.title_box .line{
    display:inline-block;
    height:19px;
    width:3px;
    background-color: #fd9c20;
    margin-bottom:5px;
    vertical-align: middle;
    margin-right:5px;
}
.title_box .tab{
    display: inline-block;
    margin-left:40px;
}
.title_box .tab a{
    color: #656565;
    font-size: 14px;
    display: inline-block;
    padding:0 20px;
}
.title_box .tab .active{
    height:28px;
    line-height: 28px;
    text-align: center;
    padding:0 20px;
    border:1px solid #ffb556;
    color: #ffb556;
}
.title_box h1{
    color: #656565;
    font-size: 20px;
    font-weight: normal;
    display: inline-block;
}
.title_box > a{
    float: right;
    color: #999999;
    margin-top:4px;
    font-size:14px;
}