/*分页*/
.tz_pages{
	/* width: 30px;
    height: 19px;
    text-align: center;
    border: solid 1px #DCDCDC; */
    width: 30px;
    height: 22px;
    text-align: center;
    border: solid 1px #DCDCDC;
}
.tj_sure{
	/* background: #fff;
    border: solid 1px #DCDCDC;
    line-height: 19px;
    width: 44px;
    font-size: 12px;
    border-radius: 2px; */
    background: #fff;
    border: solid 1px #DCDCDC;
    line-height: 19px;
    width: 46px;
    height: 25px;
    font-size: 15px;
    border-radius: 2px;
}

.tj_sure:hover{
	transition:all .3s ease;
	border:1px solid #EF8335;
}
.font-items-12{
	font-size: 16px;
    color: #333;
}

.page{
    text-align: center;
    margin:40px;
}
.page ul{
    font-size: 0;
}
.page ul li{
    display: inline-block;
    margin: 3px;
    font-size: 14px;
}
.page ul li a{
    padding: 3px 9px;
    border:1px solid #ffffff;
    color:#ffffff;
    font-size: 14px;
    -webkit-border-radius:1px;
    -moz-border-radius:1px;
    border-radius:1px;
	text-decoration:none;
}
.page ul li .selected{
    background:#004bbc;
    color:#ffffff !important;
    border:1px solid #004bbc;
}