.pageContent{
	width: 1366px;
	height: 768px;
	overflow: hidden;
	background: #fff url(../images/toupiao-bg.jpg) no-repeat left center;
	margin: 0 auto;
	color: #fff;
	position: relative;
}
.xinxin-wrapper{
	margin-top: 220px;
	padding-left: 70px;
}
.xinxin-item{
  width: 110px;
    height: 110px;
    background: url(../images/xingxing.png) no-repeat;
    background-size: contain;
    float: left;
    text-align: center;
    color: #fff;
    font-size: 20px;
    line-height: 110px;
    margin-left: 20px;
    text-shadow: 0px 1px 1px #222;
    margin-top: -40px;
    font-weight: bold;
	
}

.rect-wrapper{
	position: absolute;
	top: 200px;
	left: 40px;
}
.rect-item{
  height: 40px;
  text-align: center;
  position: absolute;
  
}
#rect-item-1{
	top: 245px;
}
#rect-item-2{
	top: 365px;
}
#rect-item-3{
	top: 445px;
}
#rect-item-4{
	top: 525px;
}
#rect-item-5{
	top: 605px;
}
#rect-item-6{
	top: 685px;
}


.rect-item-name{
      font-size: 18px;
    line-height: 40px;
    padding: 0px 0px;
    text-shadow: 1px 1px 0px #fff;
    color: #2465B5;
    height: 100%;
    width: 246px;
    float: left;
    overflow: hidden;
    font-weight: bold;
}
.rect-item-sharp{
	/*height: 390px;*/
	width: 1px;
	height: 100%;
	  box-shadow: 0px 0px 15px 5px #eee;
	  float: left;
}
#rectItemSharp1{
	background-color: #ed1551;

}
#rectItemSharp2{
	background-color: #60c9df;
}
#rectItemSharp3{
	background-color: #fff200;
}
#rectItemSharp4{
	background-color: #71bf44;
}
#rectItemSharp5{
	background-color: #f5821f;
}
#rectItemSharp6{
	background-color: #a2228e;
}