#navBar{
    width:100%;
    overflow: hidden;
    border-bottom: 4px solid #F58333;
    margin-top:20px;
}
#NB_content{
    overflow: hidden;
	width:1000px;
	margin:0 auto;
}
#NB_content ul{
    overflow: hidden;
    float:right;
}
#NB_content ul li{
    float: left;
    list-style: none;
    vertical-align: bottom;
    padding:34px 0 0 0 ;
    font-weight:bold;
}
#NB_content ul li a {
    padding:15px 27px 13px 27px;
    display: block;
    color: #F58333;
    font-size: 18px;
}
#NB_content ul li .checked{
    background: #F58333;
    color: #ffffff;
    display: block;
}
#NB_content img{
    float: left;
    margin-bottom:2px;
    width:174px;
    height:76px;
}
#NB_content #slogan{
    width: 150px;
    float: right;
    margin-right: 10px;
    height: 35px;
}
#NB_content .nav_back{
	float:right;
	padding-top:40px;
}
#NB_content .nav_back a{
	color:#666666;
	font-size:14px;
}
#NB_content .nav_back a:hover{
	color:#F58333;
}
#NB_content .logo_wrap{
	display:inline-block;
	margin-left: 15px;
	padding-top: 15px;
	overflow:hidden;
}
#NB_content .logo_wrap .line{
	background:url("../images/line.png")no-repeat;
	width:1px;
	display:inline-block;
	height:58px;
	vertical-align: middle;
}
#NB_content .logo_wrap .city_name_wrap{
	display:inline-block;
	vertical-align: middle;
	margin-left: 15px;
}
#NB_content .logo_wrap .city_name_wrap .C_name{
	color:#DB4913;
	font-size:30px;
	text-align:center;
	font-family:'sengnonFont';
	
}
#NB_content .logo_wrap .city_name_wrap .pingyin{
	font-family:'Arial';
	color:#DB4913;
	font-size:12px;
	display:inline-block;
	margin:0 1px;
}
#NB_content .logo_wrap .name_wrap{
	display:inline-block;
	vertical-align: middle;
	margin-left: 15px;
}
#NB_content .logo_wrap .name_wrap .T_name{
	color:#dd4c13;
	font-size:22px;
	text-align:center;	
	font-family:'΢���ź�';
    display: inline-block;
    float: left;
    vertical-align: middle;
}
#NB_content .logo_wrap .name_wrap span{
    width: 44px;
    height: 15px;
    background: url("../../res/images/b_icon.png") no-repeat;
    display: inline-block;
    margin-left:15px;
    vertical-align: middle;
}

.nav_list{ /* 面包屑 */
	margin-top:10px;
	margin-bottom:15px;
}
.nav_list a{
	color:#666666;
	line-height:35px;
}
.nav_list .checked{
	color:#fd9c20;
}
.nav_list a:hover{
	color:#fd9c20;
}