/******重置所有标签后，为某些标签定义自己的样式begin**************************************/
body{
	font-family: "Microsoft YaHei","微软雅黑","SimHei","黑体","SimSun","宋体",sans-serif;
	font-size: 13px;
    *letter-spacing: normal; /* reset IE < 8 */
	word-wrap:break-word;/**允许单词内换行*/
}

/******重置所有标签后，为某些标签定义自己的样式end**************************************/

/* *****页面布局Begin**************** */
/* ====== Page Head, Body, and Foot ====== */
body{_text-align:left;}/* IE5.5 */
.main{display:block;*display:block;width:auto;}
.body,.main{*zoom:1;}
.body:after,.main:after{clear:both;display:block;visibility:hidden;overflow:hidden;height:0 !important;line-height:0;font-size:xx-large;content:" x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x ";}
.page{margin:0 auto;width:960px;_text-align:left;} 
.liquid{width:100%;margin:0;}
.center{text-align:center; margin:0 auto;}
/* ======两列 三列布局 Columns ====== */
/**传统格栅系统*/
.leftCol{float:left;width:250px;_margin-right:-3px;}
.rightCol{float:right;width:300px;_margin-left:-3px;}
/**yui3格栅系统**/
.yui3Col{
    display: inline-block;
    zoom: 1; *display: inline; /* IE < 8: fake inline-block */
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
}

.dib-wrapper{
  font-size: 0;/**修复inline-block之间的空隙**/
  -webkit-text-size-adjust:none;
}
.dib{
  display: inline-block;
  font-size: 13px;
  vertical-align: middle;
}
.dib{
  *display: inline;/**兼容ie67**/
}


.text-ac{
  text-align: center;
}
.text-al{
  text-align: left;
}
.text-ar{
  text-align: right;
}

.pr{
  position:relative;
}
.pa{
  position:absolute;
}
.pf{
  position: fixed;
}

/**多余文字点点点**/
.ellipsis{
  overflow:hidden;
  text-overflow: ellipsis;
  white-space: nowrap;  
}

.triangleR{
  display: inline-block;
  border-left: 10px red solid;
  border-bottom: 10px solid transparent;
  border-top: 10px solid transparent;
}
.triangleL{
  display: inline-block;
  border-right: 10px red solid;
  border-bottom: 10px solid transparent;
  border-top: 10px solid transparent;
}
.triangleT{
  display: inline-block;
  border-bottom: 10px red solid;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}
.triangleB{
  display: inline-block;
  border-top: 10px red solid;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}
/* ***宽度*************extend columns to allow for common column widths */
.w1200{width:1200px;}
.w960{width:960px;}
.w980{width:980px;}

.w50{width:50px;}
.w60{width:60px;}
.w160{width:160px;}
.w180{width:180px;}
.w220{width:220px;}
.w240{width:240px;}
.w300{width:300px;}
.w380{width:380px;}
.w460{width:460px;}
.w540{width:540px;}
.w620{width:620px;}
/* *****页面布局end**************** */

/* *****区块位置Begin**************** */
.line,.lastUnit{*overflow:visible;*zoom:1;}
.unit{float:left;}
.unitRight{float:right;}
.size1of1{float:none;}
.size1of2{width:50%;}
.size1of3{width:33.33333%;}
.size2of3{width:66.66666%;}
.size1of4{width:25%;}
.size3of4{width:75%;}
.size1of5{width:20%;}
.size2of5{width:40%;}
.size3of5{width:60%;}
.size4of5{width:80%;}
.lastUnit{float:none;width:auto;_position:relative;_left:-3px;_margin-right:-3px;}
/* *****区块位置end**************** */

/* *****margin and padding Begin**************** */
/**m:margin,p:padding,t:top,b:bottom,l:left,r:right,v:top and bottom,h:left and right,a:all******/
.mt25{margin-top:25px;}
.mt15{margin-top:15px;}
.mt30{margin-top:30px;}

.mb15{margin-bottom:15px;}
.mb25{margin-bottom:25px;}
.mb30{margin-bottom:30px;}

.ml5{margin-left:5px;}

.mr10{margin-right:10px;}

.mv50{margin-top:50px;margin-bottom:50px;}
.mh50{margin-left:50px;margin-right:50px;}

.mh20{margin:0px 20px;}

.ma20{margin:20px;}


.pt25{padding-top:25px;}
.pt15{padding-top:15px;}
.pt30{padding-top:30px;}

.pb15{padding-bottom:15px;}
.pb25{padding-bottom:25px;}
.pb30{padding-bottom:30px;}

.pl5{padding-left:5px;}

.pr10{padding-right:10px;}
.pv15{padding-top:15px;padding-bottom:15px;}
.pv50{padding-top:50px;padding-bottom:50px;}
.ph50{padding:0px 50px;}

.ph20{padding:0px 20px;}

.pa20{padding:20px;}
/* *****margin and paddin end**************** */

/* *****font size Begin**************** */
.fs12{font-size:12px;}
.fs13{font-size:13px;}
.fs14{font-size:14px;}
.fs15{font-size:15px;}
.fs16{font-size:16px;}
.fs18{font-size:18px;}
.fs24{font-size:24px;}
.fs32{font-size:32px;}
.fs36{font-size:36px;}
/* *****font size end**************** */

/*******font color begin***********/
.fc000{color:#000;}
.fc333{color:#333;}
.fc666{color:#666;}
.fc999{color:#999;}
.fcccc{color:#ccc;}
.fcbbb{color:#bbb;}
.fcddd{color:#ddd;}
.fceee{color:#eee;}
.fce6e6e6{color:#e6e6e6;}
.fcf6f6f6{color:#f6f6f6;}
.fcfff{color:#fff;}

.fcred{color:#F00;}
.fcgreend{color:#0F0;}
.fcblue{color:#00F;}
/*******font color end***********/


/* *****半透明 兼容写法 Begin**************** */
.op0{opacity:0.0;-moz-opacity:.0;filter:alpha(opacity=0);}
.op50{opacity:0.5;-moz-opacity:.6;filter:alpha(opacity=50);}
.op60{-moz-opacity:.6; opacity:0.6;filter: Alpha(opacity=60);}
.op80{opacity:0.8;-moz-opacity:.8;filter:alpha(opacity=80);}
.op90{-moz-opacity:.9; opacity:0.9;filter: Alpha(opacity=90);}
/* *****半透明 兼容写法 end**************** */

/* *****阴影 兼容写法（ie效果不好） Begin**************** */

/* *****阴影 兼容写法 end**************** /

/* *****css3 不支持ie6 7 8 Begin**************** */
.radius10{
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
}
.radius5{
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}
.box-shadow{
    -moz-box-shadow:0px 0px 10px 1px #ccc;
	-webkit-box-shadow: 0px 0px 10px 1px #ccc;
    box-shadow: 0px 0px 10px 1px #ccc;
	background:#fff;
}
.text-box-shadow{
	-moz-box-shadow: inset 1px 1px 1px 0px #eee;
	-webkit-box-shadow: inset 1px 1px 1px 0px #eee;
	box-shadow: inset 1px 1px 1px 0px #eee;	
}
.rotate-90{
-webkit-transform: rotate(-90deg);
-moz-transform: rotate(-90deg);
-o-transform: rotate(-90deg);
}
.rotate90{
-webkit-transform: rotate(90deg);
-moz-transform: rotate(90deg);
-o-transform: rotate(90deg);
}
.rotate-180{
-webkit-transform: rotate(-180deg);
-moz-transform: rotate(-180deg);
-o-transform: rotate(-180deg);
}
.rotate180{
-webkit-transform: rotate(180deg);
-moz-transform: rotate(180deg);
-o-transform: rotate(180deg);
}
/* *****css3 end**************** */

/*****其他CSS类 Begin*********************************/
.fl{float:left;}
.fr{float:right;}
.none{display:none;}
.a-block{width:100%; height:100%; display:block; cursor:pointer;}
/***如浮动的元素不在.main类下则需要以下类来闭合浮动********/
/* Clear Fix */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}
/* end of clearfix */
/*****其他CSS类 end*********************************/

img{
  vertical-align: middle;
}
a{
  color: #222222;
  text-decoration: none;
}
a:hover{
  color: #f39800;
}

.gotop-wrapper{
  position: fixed;
  right: 30px;
  bottom: 10%;
  _position: absolute;
  _top: expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||200)-(parseInt(this.currentStyle.marginBottom,10)||0)));
  width: 60px;
  display: none;
  z-index: 1001;
  cursor: pointer;
}

