
/***loading 动画***/

.anim-tipsFadeShow{
  animation: animLoading 1.2s linear 0s infinite normal;
/* Firefox: */
-moz-animation: animLoading 1.2s linear 0s infinite normal;
/* Safari 和 Chrome: */
-webkit-animation: animLoading 1.2s linear 0s infinite normal;
/* Opera: */
-o-animation: animLoading 1.2s linear 0s infinite normal;
}
@keyframes animLoading
{
0%   {transform: scale(1); opacity: 1.0;}
25%  {transform: scale(1.1); opacity: 0.9;}
50%  {transform: scale(1.2); opacity: 0.8;}
75%  {transform: scale(1.1); opacity: 0.9;}
100% {transform: scale(1); opacity: 1.0;}
}

@-moz-keyframes animLoading /* Firefox */
{
0%   {-moz-transform: scale(1); opacity: 1.0;}
25%  {-moz-transform: scale(1.1); opacity: 0.9;}
50%  {-moz-transform: scale(1.2); opacity: 0.8;}
75%  {-moz-transform: scale(1.1); opacity: 0.9;}
100% {-moz-transform: scale(1); opacity: 1.0;}
}

@-webkit-keyframes animLoading /* Safari 和 Chrome */
{
0%   {-webkit-transform: scale(1); opacity: 1.0;}
25%  {-webkit-transform: scale(1.1); opacity: 0.9;}
50%  {-webkit-transform: scale(1.2); opacity: 0.8;}
75%  {-webkit-transform: scale(1.1); opacity: 0.9;}
100% {-webkit-transform: scale(1); opacity: 1.0;}
}

@-o-keyframes animLoading /* Opera */
{
0%   {-o-transform: scale(1); opacity: 1.0;}
25%  {-o-transform: scale(1.1); opacity: 0.9;}
50%  {-o-transform: scale(1.2); opacity: 0.8;}
75%  {-o-transform: scale(1.1); opacity: 0.9;}
100% {-o-transform: scale(1); opacity: 1.0;}
}