.btn{
    min-width:80px;
    border-radius: 5px;
    font-size: 14px;
    padding:5px;
    display: inline-block;
    text-align: center;
}

.btn_1{
    background: #ff8f45;
    color: #fff;
}
.btn_2{
    background: #45a7ff;
    color: #fff;
}
.btn_3{
    border:1px solid #45a7ff;
    color: #45a7ff;
    border-radius: 3px;
}