
.content{
    width: 1000px;
    margin: 0 auto;
}
.header{
    padding:5px 0;
}
.header a{
    color: #45a7ff;
}
.logo_img{
    background: url('../image/logo.png') left no-repeat ;
    width:444px;
    height:100px;
    display: inline-block;
}
.search_bar{
    float: right;
    margin-right: 15px;
    padding-top:26px;
}
.search_input{
    width:248px;
    height:36px;
    border-radius: 4px 0 0 4px;
    font-size: 14px;
    border: 1px solid #45a7ff;
    box-sizing: border-box;
}
.search_btn{
    background: url("../image/search_logo.png");
    width:42px;
    height: 36px;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    border: 1px solid #45a7ff;
    box-sizing: border-box;

}