.nav_wrap{
    background-color: #45a7ff;
}
.nav > a{
    display: inline-block;
    width: 100px;
    padding:10px 0;
    color: #fff;
    text-align: center;
}
.nav .select{
    background-color: #2c73cd;
}