.title_block{
    color: #fff;
    min-width: 100px;
    height:30px;
    font-size: 18px;
    text-align: center;
    background-color: #45a7ff;
    float: left;
}
.other {
    margin-left: 35px;
}
.other ul{
    overflow: hidden;

}
.other ul li{
    padding:0 8px;
    float: left;
}
.other a {
    color:#585858;
    font-size: 14px;
    text-align: center;
    display: inline-block;
}
.other a:hover{
    color: #45a7ff;
}
