
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1499223646478'); /* IE9*/
  src: url('iconfont.eot?t=1499223646478#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1499223646478') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1499223646478') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1499223646478#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-magnify:before { content: "\e651"; }

.icon-menu:before { content: "\e653"; }

.icon-expandless:before { content: "\e655"; }

.icon-list:before { content: "\e657"; }

.icon-chevronright:before { content: "\e659"; }

.icon-chevronleft:before { content: "\e65a"; }

.icon-accountcircle:before { content: "\e65b"; }

.icon-settings:before { content: "\e65e"; }

.icon-starhalf:before { content: "\e668"; }

.icon-reload:before { content: "\e66c"; }

.icon-eye:before { content: "\e66f"; }

.icon-share-variant:before { content: "\e679"; }

.icon-qrcode:before { content: "\e682"; }

.icon-book-open:before { content: "\e687"; }

.icon-arrow-left:before { content: "\e68f"; }

.icon-apple:before { content: "\e691"; }

.icon-navmaterial:before { content: "\e61c"; }

.icon-materialhome:before { content: "\e65c"; }

.icon-materialsearch:before { content: "\e65f"; }

.icon-materialstar:before { content: "\e665"; }

.icon-materialdelete:before { content: "\e62c"; }

.icon-material:before { content: "\e603"; }

.icon-ic_cloud_px:before { content: "\e604"; }

.icon-ic_add_shopping_cart:before { content: "\e643"; }

.icon-ic_android_px:before { content: "\e644"; }

.icon-ic_alarm_off_px:before { content: "\e645"; }

.icon-ic_bookmark_px:before { content: "\e64b"; }

.icon-ic_cached_px:before { content: "\e64d"; }

.icon-ic_bookmark_outline_:before { content: "\e64e"; }

.icon-ic_done_px:before { content: "\e652"; }

.icon-ic_extension_px:before { content: "\e654"; }

.icon-ic_favorite_px:before { content: "\e656"; }

.icon-ic_get_app_px:before { content: "\e658"; }

.icon-ic_highlight_remove_:before { content: "\e65d"; }

.icon-ic_label_outline_p:before { content: "\e660"; }

.icon-ic_launch_px:before { content: "\e661"; }

.icon-ic_list_px:before { content: "\e662"; }

.icon-ic_pageview_px:before { content: "\e666"; }

.icon-ic_perm_identity_p:before { content: "\e669"; }

.icon-ic_print_px:before { content: "\e66b"; }

.icon-ic_search_px:before { content: "\e670"; }

.icon-ic_settings_px:before { content: "\e671"; }

.icon-ic_settings_backup_r:before { content: "\e672"; }

.icon-ic_settings_cell_p:before { content: "\e673"; }

.icon-ic_shopping_cart_p:before { content: "\e67a"; }

.icon-ic_supervisor_accoun:before { content: "\e67e"; }

.icon-ic_thumb_up_px:before { content: "\e683"; }

.icon-ic_trending_neutral_:before { content: "\e685"; }

.icon-ic_mic_px:before { content: "\e690"; }

.icon-ic_loop_px:before { content: "\e692"; }

.icon-ic_not_interested_:before { content: "\e696"; }

.icon-ic_queue_px:before { content: "\e699"; }

.icon-ic_replay_px:before { content: "\e69c"; }

.icon-ic_repeat_one_px:before { content: "\e69d"; }

.icon-ic_volume_down_px:before { content: "\e6a2"; }

.icon-ic_call_px:before { content: "\e6a5"; }

.icon-ic_location_on_px:before { content: "\e6ad"; }

.icon-ic_message_px:before { content: "\e6af"; }

.icon-ic_add_circle_outlin:before { content: "\e6b6"; }

.icon-ic_add_circle_px:before { content: "\e6b7"; }

.icon-ic_add_px:before { content: "\e6b8"; }

.icon-ic_backspace_px:before { content: "\e6b9"; }

.icon-ic_block_px:before { content: "\e6ba"; }

.icon-ic_clear_px:before { content: "\e6bb"; }

.icon-ic_add_box_px:before { content: "\e6bc"; }

.icon-ic_create_px:before { content: "\e6bd"; }

.icon-ic_flag_px:before { content: "\e6be"; }

.icon-ic_link_px:before { content: "\e6bf"; }

.icon-ic_remove_circle_out:before { content: "\e6c0"; }

.icon-ic_reply_px:before { content: "\e6c1"; }

.icon-ic_reply_all_px:before { content: "\e6c2"; }

.icon-ic_inbox_px:before { content: "\e6c3"; }

.icon-ic_sort_px:before { content: "\e6c4"; }

.icon-ic_text_format_px:before { content: "\e6c5"; }

.icon-ic_bluetooth_connect:before { content: "\e6ca"; }

.icon-ic_bluetooth_px:before { content: "\e6cb"; }

.icon-ic_bluetooth_disable:before { content: "\e6cc"; }

.icon-ic_brightness_low_:before { content: "\e6cd"; }

.icon-ic_gps_not_fixed_p:before { content: "\e6ce"; }

.icon-ic_screen_lock_rotat:before { content: "\e6d0"; }

.icon-ic_screen_rotation_:before { content: "\e6d1"; }

.icon-ic_attach_file_px:before { content: "\e6e3"; }

.icon-ic_border_color_px:before { content: "\e6e4"; }

.icon-ic_format_align_left:before { content: "\e6eb"; }

.icon-ic_format_align_righ:before { content: "\e6ec"; }

.icon-ic_format_list_bulle:before { content: "\e6ee"; }

.icon-ic_format_underline_:before { content: "\e6f4"; }

.icon-ic_mode_comment_px:before { content: "\e6f7"; }

.icon-ic_insert_photo_px:before { content: "\e6f8"; }

.icon-ic_mode_edit_px:before { content: "\e6f9"; }

.icon-ic_vertical_align_to:before { content: "\e6fa"; }

.icon-Material-center:before { content: "\e6d8"; }

.icon-ic_keyboard_arrow_ri:before { content: "\e702"; }

.icon-ic_keyboard_arrow_up:before { content: "\e703"; }

.icon-ic_keyboard_control_:before { content: "\e704"; }

.icon-ic_keyboard_backspac:before { content: "\e705"; }

.icon-ic_keyboard_arrow_le:before { content: "\e706"; }

.icon-ic_laptop_mac_px:before { content: "\e707"; }

.icon-materialcost:before { content: "\e67f"; }

