.nav-item-title{
	height: 40px;
	line-height: 40px;
	font-size: 18px;
	border-bottom: 2px #f3b385 solid;
	cursor: pointer;
}
.hasSub{
	background: url(../images/icon/aw-white-r.png) no-repeat 170px center;
}
.hasSub.on{
	background: url(../images/icon/aw-white-d.png) no-repeat 170px center;
}
.sub-item-box{
	background-color: #f3b385;
	display: none;
}
.nav-text{
	padding-left: 20px;
}