
body,html{
	
	overflow: hidden;
	background-color: #333;
}
#swiper1 {
 
  color: #fff;
}

#body-step1{
	
	background-image: url(../images/pullup-bg.jpg);
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	z-index: 10;
	position: relative;
	float: left;
	background-color: #fff;
}
#body-step1-tips-wrapper{
	text-align: center;
	bottom:5%;
	position: absolute;
	width: 100%;
}
#body-step2{
	position: relative;
	
	float: left;
	background-color: #fff;
}
.bg-top img, .bg-bottom img{
	width: 100%;
}
.bg-top{
	position: absolute;
	top: 0px;
	left:0px;
	width: 100%;
	z-index: 0;
}
.bg-bottom{
	position: absolute;
	bottom: 0px;
	left:0px;
	width: 100%;
	z-index: 0;
}
.bg-content{
	position:relative;
	width:100%;
	height:100%;
	padding:3%;
	z-index:10;
}
.reply-bt-wrapper{
}
.reply-bt{
	display: inline-block;
	width: 124px;
	height: 30px;
	padding: 3px 0px;
	text-align: center;
	border: 0;
	background: none;
	background-image: url(../images/submit-qiandao-bt.png);
	background-repeat: no-repeat;
	background-size: 124px 27px;
}
.reply-bt:active {
  background-image: url(../images/submit-qiandao-bt-on.png);
}

.reply-input{
height:68px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  border: 1px #aaa solid;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 5px;
  text-align: center;
  position: relative;
  background-color: rgba(255,255,255,0.6);
  box-shadow: 0px 0px 6px 0px #888 inset;
  -webkit-box-shadow: 0px 0px 6px 0px #888 inset;
  color:#222;
  text-align:left;
   overflow:auto;
   font-size: 14px;
    line-height: 18px;
	-webkit-overflow-scrolling: touch;
}

@media (min-width: 360px){
	.reply-input{
		height:90px;
	}
}
.swiper-wrapper{
	/*height:100%;*/
}

.reply-list-wrapper{
  height: 26%;
  /*background-color: #eee;*/
  margin-top: 37%;
  width: 90%;
  /*overflow:auto;
	-webkit-overflow-scrolling: touch;*/
}
@media (min-width: 360px){
	.reply-list-wrapper{
		height: 30%;
		margin-top: 45%;
	}
}
@media (min-width: 414px){
	.reply-list-wrapper{
		height: 36%;
		margin-top: 46%;
	}
}
.reply-list-ul{
	margin:5px;
	color:#333;
	font-size:12px;
}
.reply-list-ul .swiper-slide{
 padding: 8px;
 width:100%;
}
.reply-list-li{
	
  padding: 5px;
  background-color: #adce4b;
  color: #fff;
  line-height: 16px;
  border-radius: 3px;
  position:relative;
  float:left;
}
.reply-list-li-my{
	 background-color: #637292;
	 float:right;
}
.reply-love-wrapper{
 font-size:13px;
 padding-left:20px;
 background: url(../images/love.png) no-repeat left center;
 background-size:16px 16px;
}
.reply-love-wrapper.on{
	background-image:url(../images/love-on.png);
}
.reply-list-li .triangleL{

  position: absolute;
  top: 5px;
  left: -7px;
  border-right-color: #adce4b;
  border-width: 8px;
}
.reply-list-li .triangleR{

  position: absolute;
  top: 5px;
  right: -7px;
  border-left-color: #637292;
  border-width: 8px;
}




.step1-input-text-wrapper{
  text-align: center;
  width: 75%;
  margin-left: 25%;
}
.step1-input-text-item{
  padding-left: 80px;
   margin-bottom: 10px;
  background-repeat: no-repeat;
  background-size: 79px 40px;
  height: 40px;
}
#textBox1-wrapper{
  background-image: url(../images/xm-name.png);
}

.step1-input-text-wrapper input{
   box-shadow: 0px 0px 5px 0px #aaa inset;
  -webkit-box-shadow: 0px 0px 5px 0px #aaa inset;
  display: inline-block;
  width: 100%;
  padding: 0px 3px;
  line-height: 38px;
  height: 40px;
  border: 1px #ddd solid;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  background-color: rgba(255,255,255,0.8);
  color: #222;
}





